{% extends 'main/layout.html' %}
{% load static %}
{% load i18n %}

<section class="select_sort">
    <div class="cont">
        <div class="box">
            <select name="" id="">
                <option value="">
                    {% trans 'Откуда' %}
                </option>
            </select>
            <select name="" id="">
                <option value="">
                    {% trans 'Куда' %}
                </option>
            </select>
            <select name="" id="">
                <option value="">
                    {% trans 'Когда' %}
                </option>
            </select>
            <select name="" id="">
                <option value="">
                    {% trans 'Обратно' %}
                </option>
            </select>
            <select name="" id="">
                <option value="">

                </option>
            </select>
        </div>
    </div>
</section>