.head {
  margin-top: 25px;

  .block {
    position: relative;
    max-width: 1400px;
    max-height: 500px;
    margin: 0 auto;

    img {
      width: 100%;
      max-height: 500px;
      border-radius: 30px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.AboutUs {
  margin-top: 15px;

  .block {
    h1 {
      color: #000;
      text-align: center;
      font-family: Kreadon;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    p {
      padding: 0 108px;
      margin: 22px 0 10px;
      color: #000;
      font-family: Kreadon;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .text_p {
      margin: 0 0 25px;
      p {
        margin: 0;
      }
    }
    .adr {
      margin: 0 0 80px;
      p {
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .AboutUs .block h1 {
    color: #0089D7;
    text-align: start;
    font-size: 32px;
    padding: 0 50px;
  }
  .AboutUs .block p {
    font-size: 18px;
    padding: 0 50px;
    margin: 16px 0 10px;
  }
}

@media (max-width: 425px) {
  .AboutUs .block h1 {
    color: #0089D7;
    text-align: start;
    font-size: 30px;
    padding: 0 10px;
  }
  .AboutUs .block p {
    font-size: 16px;
    padding: 0 10px;
    margin: 10px 0 10px;
  }
  .head .block img {
    height: 200px;
  }
}